<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zss.dao.recordDao">
<!--    添加中奖纪录-->
    <insert id="addRecord">
        insert into record (user_id,date,information) values (#{userId},#{date},#{information});
    </insert>

<!--    根据用户id查询中奖纪录-->
    <select id="searchRecordByuserId" resultType="record">
        select * from record where user_id = #{userId};
    </select>
<!--    根据时间范围查询中奖纪录-->
    <select id="searchRecordByTime" resultType="record">
        select * from record where date &gt;= #{startTime} and date &lt;= #{endTime};
    </select>
</mapper>